<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AriMyre Nails</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="images/Logo_with_character.png">

    <link  href="styles/header.css" type="text/css" rel="stylesheet">
    <link href="styles/logo.css" type="text/css" rel="stylesheet" >
    <link href="styles/home.css" type="text/css" rel="stylesheet" >



    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">
</head>
<body>
<h1>

</h1>

<div><img class="logo" src="images/Base_Open_Background_.png" alt="AriMyre Logo"></div>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" th:href="@{/home}">Home</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/chooseService}">Price List</a></li>
            <li class="nav-item"><a class="nav-link" href="about.html">FAQ</a></li>
            <li class="nav-item"><a class="nav-link" href="contact.html">Contact Me</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/premiumAccount/login}">Sign In/Sign Up</a></li>
        </ul>
    </div>
</nav>
<h4>Previous clients</h4>
<!--Add a carousel with images-->
<section class="product">
    <h2 class="product-category"></h2>
    <button class="pre-btn"><img src="images/left-arrow.png" alt="Previous button"></button>
    <button class="nxt-btn"><img src="images/right.png" alt="Next button"></button>
    <div class="product-container">

        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">$120</span>
                <img src="images/Multi-Fingered_Bling_XLong.jpg" class="product-thumb" alt="XL Full Hand Bling Set">
                <button class="card-btn">See more information</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">Full Hand Bling</h2>
                <p class="product-short-description">Extra Long</p>
                <span class="starting-price">Starting at $120</span>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">$115</span>
                <img src="images/L_Marble_accent.jpg" class="product-thumb" alt="Large Marble accent">
                <button class="card-btn">See more information</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">Acrylic with Blooming Gel</h2>
                <p class="product-short-description">Extra Long</p>
                <span class="starting-price">Starting at $20</span>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">$60</span>
                <img src="images/Marble_Medium.jpg" class="product-thumb" alt="Medium Marble Set">
                <button class="card-btn">See more information</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">Marble</h2>
                <p class="product-short-description">Medium</p>
                <span class="starting-price">Starting at $20</span>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">$70</span>
                <img src="images/S_French_with_bling_accent.jpg" class="product-thumb" alt="Medium french with bling">
                <button class="card-btn">See more information</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">French with 2 fingertip bling</h2>
                <p class="product-short-description">Medium</p>
                <span class="starting-price">Starting at $20</span>
            </div>
        </div>


        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">$80</span>
                <img src="images/S_with_Bling.jpg" class="product-thumb" alt="Short set with bling">
                <button class="card-btn">See more information</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">Multi fingertip bling</h2>
                <p class="product-short-description">Short</p>
                <span class="starting-price">Starting at $20</span>
            </div>
        </div>


        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">$80</span>
                <img src="images/XLong_Set.jpg" class="product-thumb" alt="XL Nude Set">
                <button class="card-btn">See more information</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">Acrylic</h2>
                <p class="product-short-description">Extra Long</p>
                <span class="starting-price">Starting at $20</span>

            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">$130</span>
                <img src="images/XL_Bling_set.jpg" class="product-thumb" alt="XL Bling Set">
                <button class="card-btn">See more information</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">Full Hand Bling</h2>
                <p class="product-short-description">Extra Long</p>
                <span class="starting-price">Starting at $20</span>

            </div>
        </div>


        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">$90</span>
                <img src="images/Prom_Set.jpg" class="product-thumb" alt="Special Event Prom">
                <button class="card-btn">See more information</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">Prom - Special Event</h2>
                <p class="product-short-description">Medium</p>
                <span class="starting-price">Starting at $20</span>

            </div>
        </div>


        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">$70</span>
                <img src="images/Pink_Marble.jpg" class="product-thumb" alt="Pink Marble Set">
                <button class="card-btn">See more information</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">Pink Marble</h2>
                <p class="product-short-description">Long</p>
                <span class="starting-price">Starting at $20</span>

            </div>
        </div>


    </div>
</section>

<script src="JS/home.js"></script>
</body>
</html>